<a href="https://colab.research.google.com/github/qcguerzon01/CPE-009A-OOP/blob/main/demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Indentation

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

#Python Comments
comments starts with a #

In [ ]:
if 5>2:
  print("Five is greater than two!") #compare 5 & 2

Five is greater than two!

#Variable Naming Conventions
short name/descriptive names
rules:
-must start with a letter or underscore char
-cannot start with num
-can only contain alpha-numeric characters and underscores (A-z,0-9, and _)
-case sensitive

#Python Variable
variables are containers for storing valiues

In [ ]:
x=1 #this is a single variable w/ a value
a,b=0,-1 #comma as seperator, a=0 and b=-1

print (a)
print (b)
print (x)

b=":>"
print(b)

0
-1
1
:>

#Python Casting

In [ ]:
b="sally"#type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

#Type() Function
print out the data type

In [ ]:
x=5
y="Jamie"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#Double Quotes/ Single Quotes

In [ ]:
y="John"
y='John'

print(y)
print(y)

John
John

#Case Sensitive

example;
a=4
A="Sally"
## A will not overwrite a

#Multiple Variables

In [ ]:
x,y,z="hi","I'm","Jamiee"
print(x)
print(y)
print(z)

hi
I'm
Jamiee

#One Value to Multiple Variable

In [ ]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

#Output Variable
print is used to output variables and (+) is used to combine both text and variable

In [ ]:
x="fun"
print("Python programming is "+x)

#other way

x="Pythong is "
y="fun"
z=x+y
print(z)

Python programming is fun
Pythong is fun

#Arithmetic Operations

+ addition "+"
+ subtraction "-"
+ multiplication "*"
+ division "/"
+ modulus(remainder) "%"

In [ ]:
#examples
x=5
y=3
print (x+y)

x=5
y=3
sum=x+y
sum

8

8

#Assigning Operators

In [ ]:
a,b,c=0,-1,6
c%=3
c

0

#Comparison Operators

*

In [ ]:
x=1
y=1

x=y

#Logical Operators

In [ ]:
a,b,c=0,-1,5

#Identity Operators

In [ ]:
a,b,c=0,-1,5
a is a

True

#Bitwise Operators

In [ ]:
1^2

3