<a href="https://colab.research.google.com/github/qcguerzon01/CPE-009A-OOP/blob/main/Demo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(bool("Hello"))
print(bool("15"))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
False
False
False
False
False
False
False

#Functions can return a boolean

In [ ]:
def myFunction():
  return False

if myFunction():
  print("YES!")
else:
  print("NO!")

NO!

#Python Operators
-used to perform operation on variables and values

In [ ]:
print(10+5) #addition
print(10-5) #subtraction
print(10*5) #multiplication
print(10/5) #division
print(10%5) #remainder
print(10//3) #floor division(integer, no remainder)
print(10**2) #eponent

15
5
50
2.0
0
3
100

#Python Bitwise Operators
-works on bits and performs bit-by-bit operation. Assume if a=60; and b=13; Now in binary format they will  be as follows

a=0011 1100, decimal 60
b=0000 1101, decimal 13

#& Binary AND
-Operator coies a bit to the result if it exists in both operands
(ex.(a&b)

#| Binary OR
-It copies a bit, if it exists in either operand
(ex.(a|b)

#^ Binary XOR
-It copies the bit, if it is set in one operand but not both
(ex. (a^b)

#~ Binary Ones Complement
-It is unary and has the effect of 'flipping' bits.

In [ ]:
a=60
b=13

print(a & b)
print(a | b)
print(a ^ b)
a<<2

12
61
49

240

#Python Assignment Operators
*   x+=3 is the same as x = x+3
*   x-= 3 is the same as x= x-3
*   x*=3 is the same as x= x*3
*   x/=3 is the same as x= x/3
*   x%=3 is the same as x= x%3

In [ ]:
#Python Assignment Operators
x=5
x+=3 #same as x=x+3
print(x)

8

#Logical Operator
#and Logical AND
-if both the operands are true then condition becomes true (example (a and b)is False)
#or Logical OR
-if any of the two operands are non-zero then condition becomes true (example: (a or b)is True)
#not Logical NOT
-Use to reverse the logical state of its operand (example:

#Comparisoin Operator

In [ ]:
y=60
z=13

print(y>z) #True
print(z>y) #False
print(y>z and z>y) #False
print(y>z or z>y)  #True

True
False
False
True

#Identity Operator

#For Loop

In [ ]:
week=["Sunday", "Monday", "Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [ ]:
week=["Sunday", "Monday", "Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week=["Sunday", "Monday", "Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    print(x)
  else:
    continue

Thursday

In [ ]:
#Looping through a String
for x in "week":
  print(x)

w
e
e
k

#The range() Fimctopm
*   To loop through a set of code a specfied number of times, we can use the range()function,
*   The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)
for x in range (2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [ ]:
#Nested Loops
adjective=["red", "big", "tasty"]
fruits=["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#While Loop

In [ ]:
i=1
while i<6:
  print(i)
  i+=1#i=i+1

1
2
3
4
5

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [ ]:
#continue statement

In [ ]:
#The else statementwhile1<6

i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6